body{
    margin: 0;
    padding: 0;
}

.bg-section{
    height: 500px;
    background-image: url("../img/1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-section h1{
    padding-top: 100px;
    color: #670D2F;
}

.btn-outline-dark{
    border-radius: 0px!Important;
    padding: 10px 50px!Important;
    color: blue;
}

.bg-section{
    padding-left: 180px;
    padding-right: 180px;
}