body{
    margin: 0;
    padding: 0;
}

.box1{
    height: 400px;
    
}

.box2{
    height: 400px;
    background-color: rgb(199, 153, 14);
}

.box3{
    height: 400px;
    background-color: rgb(216, 14, 27);
}